<template>
  <div id="dateDisplay" @click="randomizer()">
    <div id="dateID"></div>
  </div>
</template>

<script>
import './../../node_modules/semantic-ui/dist/semantic.css'
import RedBaronModule from './47RedBaron.js'
// ModuleChart below
import ModuleChart from './moduleChart/CircularChart.js'
require('./moduleChart/circularChart.css')
var dateChart = new ModuleChart()
var DateGenerator = require('random-date-generator')
const gdy = new RedBaronModule()
export default {
  name: 'DateDisplay',
  data () {
    return {
      date: {
        year: '', // new Date() ?
        month: '',
        day: '',
        hour: ''
      },
      dateColors: {
        year: '', // new Date() ?
        month: '#76f345',
        day: '#2577ff',
        hour: '#53b2a6'
      },
      yearSpanToGenerateFrom: [1950, 2020],
      moduleHasBeenGenerated: false,
      month: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
    }
  },
  methods: {
    randomizer () {
      /*
       * RANDOM DATE USING A GENERATOR
       * plugin : random-date-generator
       * author : kristijan-pajtasev
       */
      // Random Fixed Year
      var randomizedDate = DateGenerator.getRandomDateInRange(new Date(this.yearSpanToGenerateFrom[0], 1, 1), new Date(this.yearSpanToGenerateFrom[1], 12, 31))
      // Random
      // var randomizedDate = DateGenerator.getRandomDate()

      this.date.year = randomizedDate.getFullYear()
      this.date.month = randomizedDate.getMonth() + 1
      this.date.day = randomizedDate.getDay()
      this.date.hour = randomizedDate.getHours() + 1

      // set the CSS colors
      this.setdateColors(this.date.month, this.date.day, this.date.hour)
      // Transfert randomized data to variables
      this.setHtmlDisplay()
    },
    getRandomNumber (jsonSize) {
      return Math.floor(Math.random() * ((jsonSize + 1) - 1)) + 1
    },
    setHtmlDisplay () {
      if (this.moduleHasBeenGenerated) {
        this.updateDateChart()
      }

      // Display lights if needed
      // document.querySelector('#carName').attributes['class'].value = this.htmlDisplay.car.lights ? 'flickering' : ''
    },
    updateDateChart () {
      /* TODO */
      dateChart.updateNodeName(this.date.year)
      dateChart.updateNodeColor(this.dateColors.month, 0.6)
      // dateChart.updateNodeTextColor(this.dateColors.hour)

      // Do a for Each this.date
      dateChart.update({
        arc: 'Month',
        value: this.convertDateToPercentage('Month', this.date.month),
        displayedValue: this.month[this.date.month - 1],
        color: this.dateColors.month
      })
      dateChart.update({
        arc: 'Day',
        value: this.convertDateToPercentage('Day', this.date.day),
        displayedValue: this.date.day,
        textAfterValue: gdy.daySuffix(this.date.day), // TODO calculate the suffix
        color: this.dateColors.day,
        gradient: true
      })
      dateChart.update({
        arc: 'Hour',
        value: this.convertDateToPercentage('Hour', this.date.hour),
        displayedValue: this.date.hour > 12 ? this.date.hour / 2 : this.date.hour,
        textAfterValue: this.date.hour > 12 ? 'pm' : 'am',
        color: this.dateColors.hour
      })
    },
    convertDateToPercentage (dateType, value) {
      /* TODO */
      // Do a for Each
      if (dateType === 'Month') {
        value = (value / 12) * 100
      }
      if (dateType === 'Day') {
        value = (value / 31) * 100
      }
      if (dateType === 'Hour') {
        value = (value / 24) * 100
      }
      return value // 88 as test , should be x
    },
    setdateColors (month, day, hour) {
      /*  TODO */
      // Improve calculator
      var night = (hour < 8 || hour > 20) ? 'true' : 'false'

      // MONTHS TODO : improve with day
      if (month < 4 || month === 12) {
        // WINTER
        this.dateColors.month = (night === 'true' ? '#757575' : '#E0E0E0')
      } else if (month > 3 && month < 7) {
        // SPRING
        this.dateColors.month = (night === 'true' ? '#689F38' : '#9CCC65')
      } else if (month > 6 && month < 10) {
        // SUMMER
        this.dateColors.month = (night === 'true' ? '#FBC02D' : '#FFEE58')
      } else {
        // FALL
        this.dateColors.month = (night === 'true' ? '#5D4037' : '#8D6E63')
      }

      // HOURS
      if (night === 'true') {
        this.dateColors.hour = '#01579B'
      } else if (hour === 9 || hour === 19) {
        this.dateColors.hour = '#FFA000'
      } else {
        this.dateColors.hour = '#FFD54F'
      }
    }
  },
  mounted () {
    this.randomizer()
    dateChart.generate({
      elementId: 'dateID',
      arc: ['Hour', 'Day', 'Month'],
      options: {
        name: this.date.year,
        arcTitleDisplayed: true,
        arcThickness: 24, // 24
        displayArcTitleAsArc: true,
        startAngle: -135,
        endAngle: 135,
        colorTransition: false
      }
    })
    this.moduleHasBeenGenerated = true
    this.updateDateChart()
  }
}
</script>

<style>
/* #dateID {
  background-color: red;
  height: -webkit-fill-available;
} */
</style>
