<template>
  <div id="footerBar">
    <div type="text" class="btn-track btn-footer" @click="navBar('track')">TRACK</div>
    <div type="text" class="btn-date btn-footer" @click="navBar('date')">DATE</div>
    <div type="text" class="btn-car btn-footer" @click="navBar('car')">CAR</div>
  </div>
</template>

<script>
// import RedBaronModule from './47RedBaron.js'
// const gdy = new RedBaronModule()
var $ = require('jquery')
export default {
  data () {
    return {
      classNames: ['btn-background-left', 'btn-background-middle', 'btn-background-right'],
      buttonNames: ['btn-track', 'btn-date', 'btn-car'],
      smoothColorChange: true,
      colorStart: '#2577ff',
      colorEnd: '#76f345'
    }
  },
  methods: {
    navBar (button) {
      var activeClass = null

      switch (button) {
        case 'track':
          activeClass = 0
          break
        case 'date':
          activeClass = 1
          break
        case 'car':
          activeClass = 2
          break
        default:
          console.log('its nothing')
      }

      // keep current button active while desactiving other buttons
      this.classNames.forEach((element, index) => {
        if (activeClass !== index) {
          $('.btn-footer').removeClass(this.classNames[index])
        } else {
          $('.' + this.buttonNames[index]).addClass(this.classNames[index])
        }
      })
    }
  }
}
</script>

<style>
#footerBar {
  background: linear-gradient(135deg, #2577ff, #76f345);

  border-radius: 40px 40px;
  width:100%;
  /* height: 100px; */
  position: fixed;
  bottom:0;

  /* text-align: -webkit-auto; */
  /* z-index:1; */
}
.btn-footer{
  line-height: 2em;
  /* height: inherit; */
  width: 33%;
  float: left;
  /* padding-top: 40px; */
  font-size: 220%;
  color: #CCCCCC;
}
.btn-background-left {
  background: linear-gradient(135deg, #2577ff, #76f345);
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  color: #FFFFFF;
}
.btn-background-middle {
  background: linear-gradient(135deg, #2577ff, #76f345);
  color: #FFFFFF;
}
.btn-background-right {
  width:34%; /* TODO */
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background: linear-gradient(135deg, #2577ff, #76f345);
  color: #FFFFFF;
}
/* SEPARATORS */
.btn-date {
  height:100%;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF; /* TODO */
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF; /* TODO */
}
</style>
