html,
body {
	margin: 0;
  padding: 0;
	background-color: #202731 /* #3a3a3c*/ ;
}
body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	/* background: #3a3a3c; */
	color: #42b983;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	/* font-smoothing: antialiased; */
	font-weight: 300;
}
h1{
	/* font-size: 33px;
	color: #D4E4E4; */

  margin: 0 auto;
  font-weight: 300;
  font-size: 50px;
  background: linear-gradient(135deg, #2577ff, #76f345);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 100px;
}

p{
	font-size: 33px;
	color: #D4E4E4;
}
.carPicture{
	max-width: 400px;
}
.trackPicture{
	max-width: 400px;
}

footer{
	text-align: center;
	color: #D4E4E4;
}